@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9mf2qj');
  src:  url('fonts/icomoon.eot?9mf2qj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9mf2qj') format('truetype'),
    url('fonts/icomoon.woff?9mf2qj') format('woff'),
    url('fonts/icomoon.svg?9mf2qj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";

}
.icon-envelop:before {
  content: "\e945";
 
}
.icon-github:before {
  content: "\eab0";

}
